
H1
 {
     font-size: 30px;
     font-weight: bold;
     color: #FBF7D9;
}
H2
 {
	font-size: 18px;
	font-weight: bold;
	color:#FBF7D9;
}
title 
{
	font-size:36px;
	font-weight: bold;
	color:#D9D9F7;
}

body 
{
	background: black url("bitmaps/Black%20Crackle.png");
  	background-repeat: repeat;
  	background-position: left;
	color:#FBF7D9;
	font-family:  Arial Narrow, Verdana, Helvetica, sans-serif; 
	font-size: 14px;
}

.bezel
{
font-size: 13px;
font-weight: bold;
color: #FBF7D9;
}
.legend
{
font-size: 30px;
font-weight: bold;
color: #FBF7D9;
}
.small_legend
{
font-size: 9px;
font-weight: bold;
color: #FBF7D9;
}
.medium_legend
{
font-size: 14px;
font-weight: bold;
font-family: Verdana, Arial, Helvetica, sans-serif; 
color: #FBF7D9;
}
A
{
color: #FBF7D9;
text-decoration: none;
}
A:hover
{
color: #FBc7a9;
text-decoration: none;
}
